* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

body {
    background: #f8fafd;
    color: #202124;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
}

.header-left {
    display: flex;
    align-items: center;
}

.burger-btn,
.icons button {
    background: none;
    border: none;
    font-size: 24px;
    color: #5f6368;
    cursor: pointer;
}

.header__link {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 22px;
    color: #5f6368;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
}

main {
    display: flex;
}

.sidebar {
    width: 20%;
    background: transparent;
    padding: 16px;
    font-size: 14px;
}

.create-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 16px 18px;
    background: #fff;
    border: none;
    border-radius: 16px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 20px;
}

.create-btn:hover {
    background: #f1f3f4;
}

.task-menu ul {
    margin-bottom: 20px;
}

.task-menu li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 14px;
    border-radius: 20px;
    cursor: pointer;
}

.task-menu ul li i {
    font-size: 18px;
}

.task-menu li:hover {
    background: #f1f3f4;
}

.task-menu li.active {
    background: #c2e7ff;
    font-weight: 500;
}

.lists-header {
    display: flex;
    justify-content: space-between;
    padding: 4px 14px;
    font-weight: 500;
}

.add-list {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 14px;
    border: none;
    background: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.add-list:hover {
    background: #f1f3f4;
}

section {
    width: 80%;
    padding: 40px;
}

.modal {
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.form-container {
    background: #f0f4f9;
    width: 500px;
    margin: auto;
    padding: 20px 24px;
    border-radius: 25px;
    text-align: right;
}

.form-container button {
    text-align: right;
}

.title-input {
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #c4c7c5;
    outline: none;
    background: transparent;
    margin-bottom: 30px;
}

.title-input::placeholder {
    color: #444746;
}

.title-input:focus {
    border-bottom: 2px solid #1a73e8;
    background: #eef3fb;
}

.date-time {
    display: flex;
    gap: 10px;
    margin-bottom: 22px;
}

input[type="date"],
input[type="time"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background: #dde3ea;
    font-size: 14px;
    outline: none;
    border: 3px solid transparent;
}

select {
    margin-bottom: 22px;

}

input:focus,
textarea:focus,
select:focus {
    background: #ced3da;
    border-bottom: 3px solid #1a73e8;
}

textarea {
    resize: none;
    height: 70px;
    margin-bottom: 22px;

}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    cursor: pointer;
    margin-bottom: 22px;

}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.close-btn {
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    border: none;
}

.close-btn:hover {
    color: red;
    cursor: pointer;
}

.checkmark {
    width: 18px;
    height: 18px;
    border: 2px solid #666;
    border-radius: 2px;
    position: relative;
}

.checkbox:hover .checkmark::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.08);
    transform: translate(-50%, -50%);
}

.checkbox input:checked~.checkmark {
    background: #1a73e8;
    border-color: #1a73e8;
}

.checkbox input:checked~.checkmark::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.save-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 50px;
    background: #1e64d4;
    color: #fff;
    font-size: 14px;
    transition: 0.2s;
}

.save-btn:hover {
    background: #1e64d4d7;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.wrapper {
    background-color: #fff;
    width: 680px;
    margin: auto;
    border: 1px solid #F1F3F4;
    border-radius: 15px;
    padding: 20px;
}

.wrapper:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.wrapper-header {
    font-size: larger;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.section-title {
    font-size: 20px;
}

.wrapper-header__btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.add-task-btn {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #3F7CDA;
    background-color: transparent;
    border-radius: 25px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    padding: 4px 5px;
    width: 100%;
}

.add-task-btn svg path {
    fill: #3F7CDA;
}

.add-task-btn:hover {
    background-color: #ECF2FC;
    cursor: pointer;
}

.add-wrapper input {
    background-color: transparent;
    border: none;
}

input[type="checkbox"]:checked+.add-wrapper {
    display: none;
}

#task-checkbox {
    margin: 19px 5px 0 0;
}

input {
    outline: none;
}